header{
  height: 70vh;
  background: url(https://www.hdwallpapers.net/previews/water-plant-close-up-979.jpg) no-repeat center /cover;
}

.movedown{
  padding-top: 180px;
}

.welcomestyling{
  background-color: #337c99;
}

.collectionstyle{
  background-color: #39ac73;
}

.pricingstyle{
  background-color: #9645b4df;
}

.morestyling{
  background-color: #e6b800;
}

h1{
  font-weight: bold;
}

.text-underline{
  text-decoration: underline;
  font-weight: bold;
}

.anchorstyling{
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
}

footer{
  color: #ff3333;
  background-color: white;
}

.bolding{
  font-weight:500;
}